body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.big {
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
}

.small {
  font-size: 18px;
  color: #5d0202;
  padding: 2px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus {
  border: none;
  box-shadow: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 80px;
}

.logo {
  text-transform: uppercase;
  padding-left: 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #00a8b5;
}

.banner-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 200px 30px;
}

.banner-content img {
  animation: wave 8s ease-in-out infinite;
  transition: all 3s linear ease-in-out;
}

.title {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.tag {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: serif;
}

.icon {
  width: 700px;
}

.pulse {
  margin: 0 auto;
  margin-top: -10px;
  display: block;
  padding: 10px 30px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  background: wheat;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  outline: none;
  border: 0;
}

.pulse:hover {
  animation: none;
}

.connect .content {
  width: 60%;
}

.page-title {
  font-size: 50px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.bg {
  padding: 40px 0;
}

.bg-a {
  background: #e6e4f4;
  padding: 40px 0;
}

.bg-b {
  background: #cdebf4;
  padding: 40px 0;
}

/* card css */

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px #e3e3e3;
  padding: 50px;
  margin: 15px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px #000;
}

.profile-pic img {
  border-radius: 50%;
}

.caption {
  margin-top: 30px;
}

.caption h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.caption p {
  font-size: 12px;
  text-align: center;
}

.scrolltop {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #efefca;
  border: 5px solid rgb(0, 0, 0);
  animation: pulse 2s infinite;
  display: none;
}

.fas {
  color: #fff;
}

.form {
  background: url('../img/back.png') repeat center;
  background-size: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  position: relative;
  z-index: 100;
}

.form::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: -100;
}

input {
  border: 0;
  outline: none;
  padding: 10px 0;
  background: #fff;
  font-size: 18px;
  width: 50%;
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  z-index: 100;
}

.form .pulse {
  margin: 30px auto;
}

footer {
  background: #000;
  padding: 100px 20px;
  color: #fff;
}

footer .inline {
  align-items: flex-start;
}

footer .content {
  width: 60%;
}

.form .page-title {
  color: wheat;
}

footer .small {
  color: #999;
}

.copyright {
  font-size: 12px;
  text-transform: capitalize;
}

@keyframes wave {
  0% {
    transform: translate(100px, 100px);
    opacity: 1;
  }
  100% {
    transform: translate(250px, 0);
    opacity: 0.8;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 69, 69, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(235, 74, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(245, 86, 86, 0.5);
  }
}

/* Slider css */

.mySlides {
  display: none;
}

/* Slideshow container */

.quotes {
  padding: 100px 0;
  background-color: #0d0081;
  position: relative;
}

.quotes img {
  width: 70px;
  position: absolute;
  height: 60px;
}

.comment {
  color: #fff;
  font-style: italic;
  padding: 0 90px;
  font-size: 24px;
  margin-bottom: 50px;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.author {
  text-align: center;
  letter-spacing: 4px;
  color: orange;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.prev {
  left: -10px;
}

.next {
  right: -10px;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 98, 7);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(255, 155, 155);
  text-transform: uppercase;
  display: block;
  letter-spacing: 4px;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #fce0e0;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 60px;
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 54px;
  }
  .pulse {
    margin-top: -100px;
  }
  .team {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1091px) {
  .container {
    width: 100%;
  }
  .icon,
  .connect .content {
    padding: 10px 40px;
    width: 95%;
  }
  .banner {
    height: 900px;
  }
  .prev {
    left: 15px;
  }
  .next {
    right: 15px;
  }
  .pulse {
    margin-top: -20px;
  }
  .banner-content {
    flex-direction: column-reverse;
    align-content: space-around;
    padding: 50px 0;
  }
  .banner-content img {
    animation: none;
  }
  .inline {
    flex-direction: column;
  }
  .title {
    font-size: 52px;
  }
  .comment {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .quotes img {
    width: 40px;
    height: 40px;
    left: 30px;
  }
  .page-title {
    font-size: 24px;
    text-align: center;
  }
  .small {
    font-size: 14px;
  }
  footer .content {
    width: 100%;
  }
  footer .small {
    color: #999;
    font-size: 12px;
  }
  .scrolltop {
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .banner-content {
    padding: 150px 10px;
  }
  .title {
    font-size: 42px;
    padding-left: 20px;
  }
  .tag {
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 20px;
  }
  .card {
    width: 80%;
  }
}